body {
    background: #111;
    color: #eee;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

main {
    width: 800px;
    margin: 50px auto;
}

button {
    background: #222;
    color: #66ff99;
    border: 1px solid #66ff99;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #66ff99;
    color: #111;
}

#welcome-popup,
#lock-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lock-popup {
    display: none;
    z-index: 9999;
}

.popup-box,
#lock-box {
    width: 500px;
    padding: 30px;
    background: #181818;
    color: #eee;
    border: 2px solid #66ff99;
    text-align: center;
}

#code-input {
    padding: 10px;
    background: #111;
    color: #66ff99;
    border: 1px solid #66ff99;
    outline: none;
}

#code-message {
    color: #ff6666;
}

#dialogue-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#speech-box {
    width: 500px;
    padding: 30px;
    background: #e4dddd;
    color: #000000;
    border: 2px solid #fcfcfc;
    text-align: center;
}

#speech-box h2 {
    color: #0a0a0a;
}

#dialogue-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 15px 0;
}

.dialogue-btn {
    text-align: left;
    font-size: 0.85rem;
    background: #111;
    color: #66ff99;
    border: 1px solid #66ff99;
    padding: 8px;
}

.dialogue-btn:hover {
    background: #66ff99;
    color: #111;
}

#close-speech {
    margin-top: 10px;
    padding: 10px 30px;
    background: #fffefe;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
}

#close-speech:hover {
    background: #cfe95b;
    color: #111;
}


.padlock {
    position: absolute;
    left: 1350px;
    top: 850px;
}

.padlock img {
    width: 60px;
    cursor: pointer;
}

.smoke {
    position: absolute;
    left: 870px;
    top: 200px;
}

.smoke img {
    width: 300px;
}

.protest {
    position: absolute;
    left: 400px;
    top: 400px;
}

.protest img {
    width: 100px;
    cursor: pointer;
}

.media {
    position: absolute;
    left: 600px;
    top: 400px;
}

.media img {
    width: 100px;
    cursor: pointer;
}

#portrait-container {
    display: none;
    position: fixed;
    left: 10px;
    bottom: 0;
    z-index: 1001;
    pointer-events: none;
}

#portrait-container img {
    width: 450px;
    height: auto;
    display: block;
}