body {
    background: #111;
    color: #eee;
    font-family: monospace;
}

main {
    width: 800px;
    margin: 50px auto;
}

button {
    background: #222;
    color: #66ff99;
    border: 1px solid #66ff99;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #66ff99;
    color: #111;
}

#information {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #444;
    background: #181818;
}

#welcome-popup {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.popup-box {
    width: 500px;

    padding: 30px;

    background: #181818;
    color: #eee;

    border: 2px solid #66ff99;

    text-align: center;
}

.popup-box h2 {
    color: #66ff99;
}

#close-popup {
    margin-top: 20px;

    padding: 10px 30px;

    background: #222;
    color: #66ff99;

    border: 1px solid #66ff99;

    cursor: pointer;
}

#close-popup:hover {
    background: #66ff99;
    color: #111;
}

.padlock {
    position: absolute;
    left: 1350px;
    top: 850px;
}

.padlock img {
    width: 60px;
    cursor: pointer;
}

#lock-popup {
    display: none;

    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.8);

    justify-content: center;
    align-items: center;

    z-index: 9999;
}

#lock-box {
    width: 400px;

    padding: 30px;

    background: #181818;
    color: white;

    border: 2px solid #66ff99;

    text-align: center;
}

#code-input {
    padding: 10px;

    background: #111;
    color: #66ff99;

    border: 1px solid #66ff99;

    outline: none;
}

#submit-code,
#close-lock {
    padding: 10px 20px;
    margin: 10px 5px;

    background: #222;
    color: #66ff99;

    border: 1px solid #66ff99;

    cursor: pointer;
}

#submit-code:hover,
#close-lock:hover {
    background: #66ff99;
    color: #111;
}

#code-message {
    color: #ff6666;
}

.smoke {
    position: absolute;
    left: 870px;
    top: 200px;
}

.smoke img {
    width: 300px;
}

.protest {
    position: absolute;
    left: 400px;
    top: 400px;
}

.protest img {
    width: 100px;
    cursor: pointer;
}

#protest-speech {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#speech-box {
    width: 500px;
    padding: 30px;
    background: #181818;
    color: #eee;
    border: 2px solid #66ff99;
    text-align: center;
}

#speech-box h2 {
    color: #66ff99;
}

#close-speech {
    margin-top: 20px;
    padding: 10px 30px;
    background: #222;
    color: #66ff99;
    border: 1px solid #66ff99;
    cursor: pointer;
}

#close-speech:hover {
    background: #66ff99;
    color: #111;
}

